// Color Scheme
$colorBackground: rgb(213,204,186)
$colorForeground: rgb(69,55,60)
$color0: rgb(32,17,27)
$color1: rgb(190,16,14)
$color2: rgb(133,129,98)
$color3: rgb(234,165,73)
$color4: rgb(66,106,121)
$color5: rgb(151,82,44)
$color6: rgb(152,154,156)
$color7: rgb(150,140,131)
$colorText: $color0
$colorTextUnvisited: $color5
$colorTextVisited: darken($colorTextUnvisited, 20%)
$colorTextHover: lighten($colorTextUnvisited, 20%)
$colorTextActive: lighten($colorTextUnvisited, 20%)

// Font details
$fontHeader: 'EIisabethischeBook'
$fontBody: 'Liberation Serif'
$fontSize: 12px
$fontHeadingScale: 8 // amount of px to grow from h6 to h1