---
pageTitle: Contact
permalink: "/{{ locale }}/contact/index.html"
translationKey: "contactPage"
---

{% extends "base.njk" %}
{% block content %}
<p>Email custom.email (at) mail.com</p>
<p>https://meet.jit.si/MeetMeInterview</p>
<p>https://github.com/ancinape</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p> 
{% endblock %}